:root {
  /* Primary: Aphrodite Aqua */
  --primary-100: #f2ffff;
  --primary-200: #c8fffd;
  --primary-300: #9cfcf4;
  --primary-400: #70f5e2;
  --primary-500: #43e8c7;
  --primary-600: #20b890;
  --primary-700: #108761;
  --primary-800: #085739;
  --primary-900: #032617;

  /* Accent: Walk in the Park */
  --accent-100: #f8fff2;
  --accent-200: #dffebd;
  --accent-300: #c7f685;
  --accent-400: #aae04b;
  --accent-500: #86b518;
  --accent-600: #709108;
  --accent-700: #5a6e02;
  --accent-800: #414a00;
  --accent-900: #242600;

  /* Neutral */
  --neutral-100: #fafcfc;
  --neutral-200: #e8ebeb;
  --neutral-300: #d6dad9;
  --neutral-400: #c4c9c7;
  --neutral-500: #b2b8b6;
  --neutral-600: #8c9391;
  --neutral-700: #686f6c;
  --neutral-800: #444b47;
  --neutral-900: #222624;

  --page-1-color: linear-gradient(#085739, #9cfcf4);
  --page-2-color: #108761;
  --page-3-color: #085739;
  --page-4-color: #108761;
  --animate-speed: 1.8s;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #f2f2f2;
  overflow: hidden;
}

/* Page 1 video */
#page-1 {
  position: relative;
  height: 100vh;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--page-1-color);
}

.video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3237076d;
}

.video-container video {
  object-fit: contain;
  /* min-height: 1080px;
  min-height: 1920px; */
  max-width: 1920px;
  max-height: 1080px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  z-index: 10;
}

/* .content h1,
.content p {
  color: var(--neutral-900);
} */

/* Page Colors */
/* #page-1 {
  background: var(--page-1-color);
} */
#page-2 {
  background: var(--page-2-color);
}
#page-3 {
  background: var(--page-3-color);
}
#page-4 {
  background: var(--page-4-color);
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 16rem;
}

.page h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin: 1rem;
}

.page p {
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--neutral-900);
  color: var(--primary-300);
  text-decoration: none;
  margin-top: 1rem;
  font-size: 1.1rem;
  border-radius: 12px;
  transition: all 0.3s ease-in;
}

.btn:hover {
  background: var(--primary-400);
  color: var(--accent-800);
  transform: scale(0.96);
}

.btn-light {
  background: var(--primary-400);
  color: var(--accent-800);
}

.btn-light:hover {
  background: var(--neutral-900);
  color: var(--primary-300);
  transform: scale(0.96);
}

/* Animations */
#page-1 h1 {
  transform: translateY(-1300px);
  animation: heading var(--animate-speed) forwards ease-in;
  opacity: 0;
}

#page-1 p {
  opacity: 0;
  animation: text var(--animate-speed) forwards ease-in 2s;
}

@keyframes heading {
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes text {
  to {
    opacity: 1;
  }
}
